table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: azure;
}

th {
    background-color: beige;
    color: white;
}

.button {
    position: relative;
    text-align: center;
    padding: 20px;
    border: 4px solid rgb(57, 93, 117);
    background: rgba(57, 95, 54, 0.5);
    color: rgb(40, 41, 37);
    outline: none;
    border-radius: 30px;
    font-size: 30px;
    width: 500px;
}

.button:hover {
    color: black;
    background: white;
}